.maincontainer {
  background-color: #fff;
  padding: 1% 4% 2% 1%;
}
.container {
  margin-top: 100px;
  display: flex;
  flex-flow: row;
  border: 2px solid blue;
  padding: 50px 0px 50px 0px;
  border-radius: 5px;
}
.carousel_ctrl {
  width: 30%;
  margin-left: 2%;
}
.img {
  width: 230px;
  height: 400px;
}
.disc {
  width: 50%;
  text-align: justify; /* For Edge */
  margin-left: 10%;
}
.price {
  font-size: larger;
  font-weight: bold;
}
.color {
  color: rgb(175, 13, 13);
  font-size: 20px;
}
.amount {
  font-size: 18px;
  font-weight: 400;
}
.avl {
  font-size: large;
  font-weight: bold;
  color: green;
  margin-right: 30%;
}
.sold {
  color: rgb(10, 10, 163);
}
.discription {
  text-align: justify; /* For Edge */
}
.total {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  /* margin-left: 60%; */
  text-align: justify; /* For Edge */
}
.car {
  width: 100%;
  height: 500px;
}
.heading {
  font-weight: bold;
  font-size: 30px;
  color: rgb(6, 6, 105);
  margin-right: 10%;
}
.oldprc {
  font-weight: bold;
  font-size: 23px;
  color: blue;
}
@media (max-width: 800px) {
  .img {
    margin-top: 100px;
    margin-left: 20px;
  }
  .maincontainer {
    padding: 5px 30px 5px 8px;
  }
}
@media (max-width: 600px) {
  .container {
    flex-flow: column;
    padding: 0px 0px 10px 0px;
  }
  .maincontainer {
    padding: 5px 8px 5px 5px;
  }
  .carousel_ctrl {
    width: 100%;
    margin-left: 0%;
    margin-top: 00px;
    margin-bottom: 40px;
    margin-right: 0px;
  }
  .disc {
    width: 100%;
    margin-left: 5%;
  }
  .car {
    height: 400px;
  }
}
.quantity {
  display: flex;
  flex-flow: row;
}
.quaBtn {
  color: blue;
  background-color: #fff;
  border: 5px;
}
.addBtn {
  margin-right: 20%;
  width: 100px;
  border-radius: 5px;
}
.proceed {
  width: 30%;
  background-color: rgb(236, 177, 14);
  margin-left: 20%;
  margin-top: 10px;
  border-radius: 8px;
}
.free {
  font-size: 18px;
  font-weight: 500;
  color: green;
  margin-top: 15px;
}
