.container {
  margin-top: 100px;
  padding-bottom: 200px;
  display: flex;
  flex-flow: row;
}
.carousel_ctrl {
  width: 50%;

  margin-left: 2%;
}
.disc {
  width: 50%;
  margin-right: 5%;
  /* margin-left: 20%; */
}
.price {
  font-size: larger;
  color: rgb(175, 13, 13);
  font-weight: 400;
}
.price2 {
  font-size: larger;
  /* color: rgb(175, 13, 13); */
  font-weight: 400;
}
.amount {
  font-size: 20px;
  font-weight: 400;
}
.avl {
  font-size: large;
  font-weight: bold;
  color: green;
  margin-right: 30%;
}
.cartBtn {
  background-color: rgb(52, 52, 231);
  width: 51%;
  border-radius: 5px;
  margin-bottom: 2px;
  color: white;
  border: none;
  height: 30px;
}
.buyBtn {
  background-color: #01ab9d;
  width: 51%;
  border-radius: 5px;
  margin: 5px;
  color: white;
  border: none;
  height: 30px;
}
.sold {
  color: rgb(10, 10, 163);
}
.discborder {
  border: 2px rgb(86, 236, 199) solid;
  border-radius: 5px;
  padding: 10px;
}
.discription {
  text-align: justify; /* For Edge */
  font-weight: 400;
  /* padding: 5px; */
  /* margin-right: 10px; */
}
.car {
  max-width: 300px;
  height: 600px;
  /* resize: both; */
  /* padding-top: 20px; */
}
.carimg {
  max-height: 400px;
  max-width: 80%;
  background-size: contain;
}
.heading {
  font-weight: bold;
  font-size: 30px;
  color: rgb(6, 6, 105);
  /* margin-right: 10%; */
}
.oldprc {
  font-weight: bold;
}
@media (max-width: 800px) {
  .carousel_ctrl {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .container {
    flex-flow: column;
  }
  .carousel_ctrl {
    width: 100%;
    margin-left: 0%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .disc {
    width: 100%;
    padding-right: 20px;
  }
  .car {
    height: 400px;
  }
  .carimg {
    max-height: 300px;
  }
} ;
