.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.price {
  font-size: 20px;
  font-weight: bold;
  color: green;
}
.card {
  width: 22rem;
}
@media (max-width: 600px) {
  .card {
    width: 15rem;
  }
} ;
