.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
}
.maincontainer {
  border-top: solid #01ab9d 5px;
  border-bottom: solid #01ab9d 5px;
  padding: 10px 2px 5px 2px;
  background-color: white;
}
.price {
  font-size: 20px;
  font-weight: bold;
  color: green;
}
.offer {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: blue;
  margin-left: 3%;
}
.modify {
  width: 100%;
  height: 170px;
  object-fit: contain;
}
.h4 {
  font-weight: bold;
  margin-top: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.btn {
  background-color: #08d4c4;
  width: 200px;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  border-radius: 6px;
  font-weight: 500;
  color: white;
  border: none;
  height: 30px;
}
.manualcard {
  /* margin-left: 30%;
  margin-top: 140px; */
  height: 350px;
  width: 200px;
  outline: none;
  border: none;
  background-color: white;
  padding: 10px 5px 10px 5px;
}
.cardbody {
  margin-right: 15%;
}
.img {
  width: 18.7rem;
}
.card {
  width: 22rem;
}
@media (max-width: 600px) {
  .card {
    width: 15rem;
  }
  .cardbody {
    margin-right: 2%;
  }
  .btn {
    width: 180px;
  }
} ;
