.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.price {
  font-size: 20px;
  font-weight: bold;
  color: green;
}
.btn {
  background-color: #009387;
  width: 250px;
  border-radius: 5px;
  padding: 2px;
}
.cardbody {
  margin-right: 15%;
}
.img {
  width: 18.7rem;
}
.card {
  width: 22rem;
}
@media (max-width: 600px) {
  .card {
    width: 15rem;
  }
  .cardbody {
    margin-right: 2%;
  }
  .btn {
    width: 180px;
  }
} ;
