.uper {
  margin-top: 100px;
}
.title {
  align-items: baseline;
}
.flexbox {
  display: flex;
  flex-flow: row;
  margin-top: 50px;
  /* margin: 50px 0px 50px 0px; */
}
.disc {
  font-weight: bolder;
  font-size: 20px;
  font: outline;
}
.card {
  width: 20rem;
}
@media (max-width: 600px) {
  .card {
    width: 15rem;
  }
} ;
