.uper {
  margin-top: 100px;
}
.title {
  align-items: baseline;
}
.flexbox {
  display: flex;
  flex-flow: row;
  /* margin: 50px 0px 50px 0px; */
}
.maincontainer {
  border-top: solid #01ab9d 5px;
  border-bottom: solid #01ab9d 5px;
  padding: 10px 2px 5px 2px;
  background-color: white;
}
.offer {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: blue;
  margin-left: 3%;
}
.modify {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.manualcard {
  /* margin-left: 30%;
  margin-top: 140px; */
  height: 300px;
  width: 100%;
  outline: none;
  background-color: white;
  padding: 10px 5px 5px 5px;
}
.disc {
  color: rgb(144, 0, 180);
  font-weight: bolder;
  margin-top: 25px;
  font-size: 20px;
  font: outline;
}
.img {
  width: 18.7rem;
}
.card {
  width: 20rem;
}
@media (max-width: 600px) {
  .card {
    width: 15rem;
  }
} ;
