.uper {
  margin-top: 100px;
}
.title {
  align-items: baseline;
}
.flexbox {
  display: flex;
  flex-flow: row;
  margin-top: 50px;
  /* margin: 50px 0px 50px 0px; */
}
.disc {
  color: rgb(144, 0, 180);
  font-weight: bolder;
  font-size: 20px;
  font: outline;
}
.img{
  width: 18.7rem;
}
.card {
  width: 20rem;
}
@media (max-width: 600px) {
  .card {
    width: 15rem;
  }
} ;
