.ul{
list-style: none;
margin-right: 10px;
}
.ul:hover{
  cursor: pointer;
}
.ul li div{
  margin-top: 5px;
  width: 35px;
  height: 4px;
  border-radius: 20px;
  background-color: rgb(5, 18, 37);
}
@media (min-width: 700px){
    .ul{
        display: none;
    }
}