<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
      href="https://fonts.googleapis.com/css?family=Cabin&display=swap"
      rel="stylesheet"
    />
    <style media="screen">
      :root {
        font-size: 150%;
      }
      h1,
      h2 {
        font-weight: normal;
      }
      input {
        font-family: inherit;
        font-size: 18px;
        display: block;
        margin: 12px 0;
        padding: 9px;
        outline: none;
        box-sizing: border-box;
        width: 400px;
      }

      input:nth-child(1) {
        width: 320px;
      }
      input:nth-child(2) {
        width: 400px;
      }
      input:nth-child(3) {
        width: 420px;
      }
      input:nth-child(4) {
        width: 370px;
      }
      input:nth-child(5) {
        width: 360px;
      }

      body {
        margin: 72px 180px 0;
        font-family: "Cabin", sans-serif;
      }

      form {
        width: 40%;
        display: inline-block;
        vertical-align: top;
      }

      .btn {
        display: inline-block;
        border-radius: 35px;
        background-color: #c1c7c9;
        border: none;
        color: #000000;
        text-align: center;
        font-size: 15px;
        padding: 10px;
        width: 300px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }

      .btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }

      .btn span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: -15px;
        right: -60px;
        transition: 0.6s;
      }

      .btn:hover span {
        padding-right: 25px;
      }

      .btn:hover span:after {
        opacity: 1;
        right: 0;
      }
      .search-container {
        float: right;
      }
      .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
      }
      .search-container button:hover {
        background: #ccc;
      }
      .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
    </style>
  </head>
  <body>
<<<<<<< HEAD
    <h1>Passport JS</h1>  
    <div class="">
      <a href="/productform">UPLOAD PRODUCTS</a>
    </div>

=======
    <h1 >ADMIN AREA</h1> 
    <div>
    <button class="btn" style="vertical-align:middle">
     <span></span> <a href="/productform">UPLOAD PRODUCTS</a> </span>
    </button>
    <button class="btn" style="vertical-align:middle">
     <span></span> <a href="/carousalform">UPLOAD CAROUSAL IMAGES</a> </span>
    </button>
</div> 
<<<<<<< HEAD
>>>>>>> origin/master
=======
<div class="search-container">
  <form action="/api/getSearchResults" method ="get">
    <input type="text" placeholder="Search.." name="query">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>
>>>>>>> origin/master
    <form action="/api/register" method="post" autocomplete="off">
      <h2>Register a User</h2>
      <input type="email" name="email" placeholder="Email" />
      <input
        type="text"
        name="user_name"
        placeholder="User Name"
        autocomplete="off"
      />
      
      <input type="password" name="password" placeholder="Password" />
      <input
        type="password"
        name="password_confirm"
        placeholder="Confirm Password"
      />
      <input type="submit" value="Register" />
    </form>

    <form action="/api/login" method="post">
      <h2>Login</h2>
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <input type="submit" value="Login" />
    </form>
    <form action="/api/home" method="get">
      <h2>GET DATA</h2>
      <input type="submit" value="data" />
    </form>
  </body>
</html>
