.maincontainer {
  background-color: #eeeef0;
}
.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.container {
  background-color: white;
  /* padding-top: 1px; */
  text-align: justify; /* For Edge */
}
.btn {
  background-color: aqua;
  width: 250px;
  border-radius: 5px;
  padding: 2px;
  /* margin-left: 15px; */
}
.modify {
  width: 100%;
  height: 69%;
  object-fit: contain;
}
.btn {
  background-color: #08d4c4;
  width: 200px;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  border-radius: 6px;
  font-weight: 500;
  margin-left: 20%;
  color: white;
  border: none;
}
.manualcard {
  /* margin-left: 30%;
  margin-top: 140px; */
  height: 25rem;
  width: 100%;
  outline: none;
  background-color: white;
}
.title {
  text-align: left;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: -20px;
  margin-left: 5%;
  margin-top: 50px;
  color: rgba(5, 5, 90, 0.911);
  text-decoration: underline;
  margin-bottom: 10px;
}
.line {
  background-color: #01ab9d;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.title2 {
  text-align: left;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: -20px;
  margin-left: 5%;
  color: rgba(5, 5, 90, 0.911);
  margin-top: 30px;
  text-decoration: underline;
  margin-bottom: 10px;
  margin-top: 150px;
  padding-top: 5px;
}
.offer {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: blue;
  margin-left: 3%;
}
.price {
  font-size: 20px;
  font-weight: bold;
  color: rgb(143, 8, 8);
  margin-left: 33%;
  margin-top: 20px;
}
.price2 {
  font-size: 20px;
  font-weight: bold;
  color: green;
  margin-top: 10px;
  margin-left: 23%;
}
.disc {
  font-weight: 600;
  font-size: 15px;
  color: rgb(56, 197, 253);
}
@media (max-width: 400px) {
  .btn {
    margin-left: 10%;
  }
}
