.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.container{
  background-color: white;
  /* padding-top: 1px; */
}
.modify{
  width: 100%;
  height: 69%;
  object-fit: contain;
}
.manualcard{
  /* margin-left: 30%;
  margin-top: 140px; */
  height: 25rem;
  width: 100%;
  outline: none;
  background-color: white;
}
.title {
  text-align: left;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: -20px;
  margin-left: 5%;
  margin-top: 150px;
  color: black;
}
.title2 {
  text-align: left;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: -20px;
  margin-left: 5%;
  color: black;
  margin-top: 30px;
}
.cardbody{
  margin-right: 15%;
  box-shadow: white;
}
.price {
  font-size: 20px;
  font-weight: bold;
  color: green;
}
.set{
  margin-top: 140px;
  width: 10px;
  height: 30px;
}
.card {
  box-shadow: white;
  width: 22rem;
}
@media (max-width: 500px) {
  .card {
    width: 15rem;
  }
  .cardbody{
    margin-right: 2%;
  }
}
