.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.container {
  background-color: white;
  /* padding-top: 1px; */
  text-align: justify; /* For Edge */
}
.btn {
  background-color: aqua;
  width: 250px;
  border-radius: 5px;
  padding: 2px;
  /* margin-left: 15px; */
}
.title {
  text-align: left;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: -20px;
  margin-left: 5%;
  margin-top: 100px;
  color: black;
}
.all {
  font-size: 20px;
  color: blue;
  font-weight: bold;
  margin-left: 100px;
}
.cardconatiner {
  height: 200px;
  width: 200px;
}
.title2 {
  text-align: left;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: -20px;
  margin-left: 5%;
  color: black;
  margin-top: 30px;
}
.cardbody {
  margin-right: 15%;
  box-shadow: white;
}
.price {
  font-size: 20px;
  font-weight: bold;
  color: green;
}
.card {
  box-shadow: white;
  width: 20rem;
}
card2 {
  max-width: 200px;
  margin-top: 200px;
}
@media (max-width: 500px) {
  .card {
    width: 15rem;
  }
  .cardbody {
    margin-right: 2%;
  }
  .btn {
    width: 180px;
  }
}
