.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-top: 50px;
  padding-top: 20px;
}
.img{
  width: 18.7rem;
}
.modify{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.manualcard{
  /* margin-left: 30%;
  margin-top: 140px; */
  height: 22rem;
  width: 100%;
  background-color: white;
}